#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define SYMBOL 1
#define MVMT 2
#define NUM 3

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ENT  |
//                    |LCTRL| CMD | MO1 |   | SPC | MO 2 | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D &kp F &kp G     &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
                  &kp LCTRL &kp LGUI &mo 1     &kp SPACE &mo 2 &kp RALT
                        >;
                };
                symbol_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  ~   |  $  |  %  |  ^  |  &  |  *  |   |     |  !  |  (  |  )  |     | BKSP |
// | MO 3 |     |  -  |  +  |  =  |     |   |     |  @  |  [  |  ]  |  |  |  \   |
// |      |     |     |     |     |     |   |     |  #  |  {  |  }  |     |      |
//                    |     |     |     |   |  _  |     |     |
                        bindings = <
   &kp TILDE &kp DLLR &kp PRCNT &kp CARET &kp AMPS  &kp STAR    &trans &kp EXCL &kp LPAR &kp RPAR &trans   &kp BSPC
   &mo 3     &trans   &kp MINUS &kp PLUS  &kp EQUAL &trans      &trans &kp AT   &kp LBKT &kp RBKT &kp PIPE &kp BSLH
   &trans    &trans   &trans    &trans    &trans    &trans      &trans &kp HASH &kp LBRC &kp RBRC &trans   &trans
                                &trans    &trans    &trans      &kp UNDER &trans &trans
                        >;
                };

                special_layer {
                        label = "MVMT";
// -----------------------------------------------------------------------------------------
// |  `   |     |     |     |     |     |   |     |Brt D|Brt U|     |     | BKSP |
// |      |     |     |     |     |     |   | Lft | Dwn |  Up | Rght|     |      |
// |      |     |     |     |     |     |   | Prev|Vol D|Vol U| PP  | Next|      |
//                    |     |     | ALT |   |     |     |     |
                        bindings = <
   &kp GRAVE &trans &trans &trans &trans &trans    &trans     &kp F14      &kp F15      &trans       &trans     &kp BSPC
   &trans    &trans &trans &trans &trans &trans    &kp LEFT   &kp DOWN     &kp UP       &kp RIGHT    &trans     &trans
   &trans    &trans &trans &trans &trans &trans    &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_PP     &kp C_NEXT &trans
                           &trans &trans &kp LALT  &trans &trans &trans
                        >;
                };

                number_layer {
                        label = "NUM";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |  BT |   |     |  7  |  8  |  9  |     | BKSP |
// |      |     |     |     |     |     |   |     |  4  |  5  |  6  |     |      |
// |      |     |     | BT1 | BT2 | BT3 |   |     |  1  |  2  |  3  |     |      |
//                    |     |     |     |   |     |  0  |     |
                        bindings = <
   &trans &trans &trans &trans       &trans       &bt BT_CLR   &trans &kp N7 &kp N8 &kp N9 &trans &kp BSPC
   &trans &trans &trans &trans       &trans       &trans       &trans &kp N4 &kp N5 &kp N6 &trans &trans
   &trans &trans &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &kp N1 &kp N2 &kp N3 &trans &trans
                        &trans &trans &trans       &trans &kp N0 &trans
                        >;
                };
        };
};